@font-face {
  font-family: 'Poppins';
  src: url(../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Lexend';
  src: url(../fonts/Lexend/Lexend-VariableFont_wght.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    background-color: white;
  }

.intro {
  background-size: cover;
  margin-top: 150px;
  align-items: center;
}

.intro img {
  height: 500px;
  float: left;
  margin-right: 20px;
}

body {
  margin: 250px;
}

h1 {
  font-family: 'Poppins';
  font-size: 30px;
  color:#57a4fe;
  text-align: center;
}

h3 {
  clear: both;
  font-family: 'Lexend';
  font-size: 20px;
}

p{
  font-family: 'Lexend';
}
