@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Bold.ttf)
  }

  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fonts/Poppins/Poppins-SemiBold.ttf)
  }
  
  @font-face {
    font-family: 'Poppins-Regular';
    src: url(fonts/Poppins/Poppins-Regular.ttf)
  }

  @font-face {
    font-family: 'Poppins-Italic';
    src: url(fonts/Poppins/Poppins-Italic.ttf)
  }

  @font-face {
    font-family: 'Lexend';
    src: url(fonts/Lexend/Lexend-VariableFont_wght.ttf);
  }
  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
      height: 100%;
      width: 100%;
      background-color: white;
      min-height: 100vh;
      height: 100%;
}
  
#title {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    margin-bottom: 50px;
}

.help {
    margin:  200px 250px;
    color: black;
    text-align:left;
}

.help-content {
    font-size: 1em;
    color: black;
    text-align: left;
}


h1 {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
p {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}