@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins/Poppins-Bold.ttf)
  }

  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url(fonts/Poppins/Poppins-SemiBold.ttf)
  }
  
  @font-face {
    font-family: 'Poppins-Regular';
    src: url(fonts/Poppins/Poppins-Regular.ttf)
  }

  @font-face {
    font-family: 'Poppins-Italic';
    src: url(fonts/Poppins/Poppins-Italic.ttf)
  }

  @font-face {
    font-family: 'Lexend';
    src: url(fonts/Lexend/Lexend-VariableFont_wght.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins-Semibold';
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

.registration-form {
    display: flex;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#role {
    font-family: Poppins-Regular;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
    cursor: pointer;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}


.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

#message {
    font-family: Poppins-Semibold;
    color: #57a4fe;
    margin-bottom: 10px;
}

.submit-btn button {
    margin-top: 50px;
    font-family: Lexend;
    background-color: #57a4fe;
    border: 1px solid #57a4fe;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.submit-btn button:hover {
    background-color: #4d94e0;
}

#cancel{
    border: 1px solid #57a4fe;
    background-color: white;
    color: #57a4fe;
    text-decoration: none;
    cursor: pointer;
  }

.signlink p {
    margin-top: 15px;
    font-size: 1em;
}

.signlink a {
    color: #57a4fe;
    text-decoration: none;
}

.signlink a:hover {
    text-decoration: underline;
}
