@font-face {
  font-family: 'Poppins-Bold';
  src: url(../../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(../../fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(../../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  src: url(../../fonts/Lexend/Lexend-VariableFont_wght.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    background-color: white;
    min-height: 100vh;
    height: 100%;
}

.container {
  margin: 200px 250px;
}

h1 {
  font-family: 'Poppins-Bold';
  font-size: 3em;
}

h2 {
  font-family: 'Poppins-SemiBold';
  font-size: 2em;
}

.users-table {
  font-family: 'Poppins-Regular';
}

tr {
  text-align: center;
}